* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  text-align: justify;
  background-color: var(--color-main-screen);
  color: var(--color-primary);
}

:root{
  --color-primary: white;
  --color-secondary: black;
  --color-main-screen: white;
  --color-header: black;
}

.dark-mode{
  --color-primary: black;
  --color-secondary: white;
  --color-main-screen: #222222;
  --color-header: black;
}

.theme{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  color: var(--color-secondary);
}

.theme label{
  display:flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#theme-btn{
  border: none;
  background: none;
}

#theme-img{
  height: 20px;
  width: 20px;
}

#input-theme{
  display: none;
}

#icon{
  width: 30px;
  cursor: pointer;
}

a{
  color: var(--color-secondary);
  text-decoration: none;
}

#content{
  margin: 50px 100px;
  color: var(--color-secondary);
}

.center-image{
  display: block;
  margin: auto;
}

.center-text{
  text-align: center;
}

.flex{
  display: flex;
}

#footer{
  background-color: var(--color-header);
  color: white;
  padding: 50px;
}

#header{
  background-color: var(--color-header);
  padding: 10px;
}

#creator-photo img{
  border-radius: 20px;
}

.languages{
  gap: 50px;
  justify-content: center;
}

#social-media-icons{
  gap: 20px;
  justify-content: center;
}

#title{
  color: white;
  font-family: "Audiowide", cursive;
  font-size: 40px;
}


